/RentACar/RentACar/RentACar.Core/bin
/RentACar/RentACar/RentACar.Core/obj
/RentACar/RentACar/RentACar.Domain/bin
/RentACar/RentACar/RentACar.Domain/obj
/RentACar/RentACar/RentACar.Infrastructure/bin
/RentACar/RentACar/RentACar.Infrastructure/obj
/RentACar/RentACar/RentACar.Test/bin
/RentACar/RentACar/RentACar.Test/obj
/RentACar/RentACar/RentACar.WebApi/bin
/RentACar/RentACar/RentACar.WebApi/obj
